<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">

  <!--/* 책 정보 (필수) */-->
  <h3>[[${productVO.title}]]</h3>
  <img th:src="${productVO.image}" alt="Book Image" height="300px">
  <p>카테고리 : [[${productVO.primaryCtg}]] > [[${productVO.secondaryCtg}]]</p>
  <p>책 정보 : [[${productVO.author}]]/[[${productVO.publisher}]]/[[${productVO.pubdate}]]</p>
  <p>책 가격 : [[${productVO.discount}]]/[[${productVO.discountRate}]]%</p>
  <p>책 소개 : [[${productVO.description}]]</p>

  <!--/* 책 정보 (웹 스크래핑) */-->
  <div th:if="${bookInfo.bookIntroContent != null and bookInfo.bookIntroContent != ''}">
    <h3 th:text="${bookInfo.bookIntroTitle}"></h3>
    <div th:utext="${bookInfo.bookIntroContent}"></div>
  </div>
  <div th:if="${bookInfo.publisherReviewContent != null and bookInfo.publisherReviewContent != ''}">
    <h3 th:text="${bookInfo.publisherReviewTitle}"></h3>
    <div th:utext="${bookInfo.publisherReviewContent}"></div>
  </div>
  <div th:if="${bookInfo.tableOfContentsContent != null and bookInfo.tableOfContentsContent != ''}">
    <h3 th:text="${bookInfo.tableOfContentsTitle}"></h3>
    <div th:utext="${bookInfo.tableOfContentsContent}"></div>
  </div>

  <!--/* 리뷰 */-->
  <!--/* 주문 내역 페이지에 모달창으로써 들어갈 부분이에요. 우선 여기에 적어둠! */-->
  <h3>리뷰 입력하기</h3>
  리뷰 내용 : <input type="text" name="content" id="contentEl"> <br>
  별점 : <input type="text" name="rating" id="ratingEl"> <br>
  파일 첨부 : <input type="file" name="file" id="fileEl"> <br>
  <!--/* 모달 창을 열 때 같이 넘어가야할 정보 : prno, mno */-->
  <input type="hidden" name="prno" id="prnoEl" th:value="${productVO.prno}">
  <input type="hidden" name="mno" id="mnoEl" value=1>
  <button type="button" id="regBtn">리뷰 등록하기</button>

  <!--/* 리뷰 출력 */-->
  <div id="reviewBox">리뷰가 없다면 출력됩니다. ex) 리뷰가 없습니다!</div>

  <!--/* 리뷰 페이지네이션 */-->
  <div id="pagingBox">페이지네이션 출력될 박스!</div>

  <script th:inline="javascript">
    let prno = [[${productVO.prno}]];
    let mno = 1;
  </script>
  <!--/* 리뷰 등록 관련 스크립트 */-->
  <script th:src="@{/js/reviewRegister.js}"></script>
  <script th:src="@{/js/reviewDetail.js}"></script>
  <script th:inline="javascript">
    printReviewBox([[${productVO.prno}]], 1, mno);
  </script>
</div>