<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
  <meta charset="UTF-8">
  <title>EzenBooks</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/productdetail.css}" />
</head>

<main layout:fragment="main">
  <div class="inner">
    <!--/* 카테고리 영역 */-->
    <section class="breadcrumb_wrap">
      <ul class="breadcrumb_list">
        <li class="breadcrumb_item">
          <a href="/"><i class="ic ic_home"></i></a>
        </li>
        <li class="breadcrumb_item">
          <a th:href="@{/product/list(pageNo=1, primaryCtg=${productVO.primaryCtg})}" class="primary_ctg">[[${productVO.primaryCtg}]]</a> <i class="ic ic_carousel_up_white"></i>
          <div class="sub_depth">
            <ul class="primary_list">
              <li class="primary_option" data-category="소설"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='소설')}">소설</a></li>
              <li class="primary_option" data-category="시/에세이"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='시/에세이')}">시/에세이</a></li>
              <li class="primary_option" data-category="경제/경영"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='경제/경영')}">경제/경영</a></li>
              <li class="primary_option" data-category="자기계발"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='자기계발')}">자기계발</a></li>
              <li class="primary_option" data-category="인문"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='인문')}">인문</a></li>
              <li class="primary_option" data-category="역사"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='역사')}">역사</a></li>
              <li class="primary_option" data-category="사회/정치"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='사회/정치')}">사회/정치</a></li>
              <li class="primary_option" data-category="자연/과학"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='자연/과학')}">자연/과학</a></li>
              <li class="primary_option" data-category="예술/대중문화"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='예술/대중문화')}">예술/대중문화</a></li>
              <li class="primary_option" data-category="종교"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='종교')}">종교</a></li>
              <li class="primary_option" data-category="유아/어린이"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='유아/어린이')}">유아/어린이</a></li>
              <li class="primary_option" data-category="가정/요리"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='가정/요리')}">가정/요리</a></li>
              <li class="primary_option" data-category="여행"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='여행')}">여행</a></li>
              <li class="primary_option" data-category="언어"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='언어')}">언어</a></li>
              <li class="primary_option" data-category="컴퓨터/IT"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='컴퓨터/IT')}">컴퓨터/IT</a></li>
              <li class="primary_option" data-category="청소년"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='청소년')}">청소년</a></li>
              <li class="primary_option" data-category="수험서/자격증"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='수험서/자격증')}">수험서/자격증</a></li>
              <li class="primary_option" data-category="만화"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='만화')}">만화</a></li>
              <li class="primary_option" data-category="잡지"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='잡지')}">잡지</a></li>
              <li class="primary_option" data-category="건강/취미"><a
                      th:href="@{/product/list(pageNo=1, primaryCtg='건강/취미')}">건강/취미</a></li>
            </ul>
          </div>
        </li>
        <li class="breadcrumb_item">
          <a th:href="@{/product/list(pageNo=1, secondaryCtg=${productVO.secondaryCtg})}" class="secondary_ctg">[[${productVO.secondaryCtg}]]</a> <i class="ic ic_carousel_up_white"></i>
          <div class="sub_depth">
            <ul class="secondary_list">
              <!-- 동적으로 추가됨(주석 삭제 가능) -->
            </ul>
          </div>
        </li>
      </ul>
    </section>

    <!--/* 상품 설명 영역 */-->
    <section class="contents">
      <!--/* 상품 설명 요약 */-->
      <div class="book_detail_header">
        <div class="book_detail_left">
          <div class="book_thum_wrap">
            <div class="book-items">
              <div class="book-image">
                <img th:src="${productVO.image}" class="thumbnail" alt="image"/>
                <div class="effect"></div>
                <div class="light"></div>
              </div>
            </div>
          </div>
          <div class="full_view_area">
            <button class="btn full_view_btn">전체보기</button>
          </div>
        </div>
        <div class="book_detail_right">
          <p class="book_tag_wrap">
            <span class="book_tag" id="tag1">MD 추천</span>
            <span class="book_tag" id="tag2" th:if="${productVO.realPrice >= 20000}">무료배송</span>
          </p>

          <div class="book_detail_wrap">
            <div class="book_detail_general">
              <div class="book_detail_content">
                <h2 class="book_title">[[${productVO.title}]]</h2>
                <p class="book_write">
                  <span class="book_writer">[[${productVO.author}]]</span>
                  <span class="book_publisher">[[${productVO.publisher}]]</span>
                </p>
                <p class="book_publication_date" id="book_publication_date">[[${productVO.pubdate}]]</p>
              </div>

              <div class="book_info">
                <span class="discount">[[${productVO.discountRate}]]%</span>
                <span class="book_price_wrap">
                  <span class="book_discount_price">[[${#numbers.formatInteger(productVO.realPrice, 3, 'COMMA')}]]<span class="won">원</span></span>
                </span>
                <span class="book_original_price">[[${#numbers.formatInteger(productVO.discount, 3, 'COMMA')}]]원</span>
              </div>

              <div class="book_score">
                <p class="book_rating_wrap">
                  <i class="ic ic_star" id="review_avg_star_1" th:data-score="${productVO.reviewAvg}"></i>
                  <!--
                      i 태그 클래스명 예시 : <i th:class="'ic ic_star star-' + ${book.score.toString().replace('.', '_')}"></i>
                      이런 식으로 별점을 문자열로 변환, 소수점을 언더바로 바꿔서 클래스명에 넣어야 이미지가 바뀜!
                  -->
                  <span class="book_rating" >  [[${productVO.reviewAvg}]] <span class="book_review_count">(리뷰
                          [[${productVO.reviewCnt}]]개)</span></span>
                </p>
              </div>
            </div>

            <div class="book_detail_benefits">
              <div class="book_detail_title"><span>혜택안내</span></div>
              <div class="book_benefits_list">
                <div class="book_benefits_item">
                  <div class="book_benefits_title"><span>적립금</span></div>
                  <div class="book_benefits_content">
                    <span class="book_point">750원 <span> (최대 6% 적립)</span></span>
                  </div>
                </div>
                <div class="book_benefits_item">
                  <div class="book_benefits_title"><span>결제혜택</span></div>
                  <div class="book_benefits_content">
                                                <span class="book_point">
                                                    무이자 할부 <i class="ic ic_carousel_down_white"></i>
                                                    <div class="book_point_modal">
                                                        <p><span>신용카드 무이자 할부 안내</span><i class="ic ic_delete"></i></p>
                                                        <p class="card_benefit"><i class="ic card1 ic_bc"></i> <span>5만원 이상 2-6개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card2 ic_hc"></i> <span>1만원 이상 2-3개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card ic_nh"></i> <span>5만원 이상 2-6개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card1 ic_wr"></i> <span>5만원 이상 2-6개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card1 ic_hn"></i> <span>5만원 이상 2-3개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card2 ic_rt"></i> <span>5만원 이상 2-3개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card2 ic_kb"></i> <span>5만원 이상 2-3개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card2 ic_ss"></i> <span>5만원 이상 2-3개월 무이자 (~25/01/31 까지)</span></p>
                                                        <p class="card_benefit"><i class="ic card ic_sh"></i> <span>5만원 이상 2-5개월 무이자 (~25/01/31 까지)</span></p>
                                                    </div>
                                                </span>
                    <span class="book_point">
                                                    결제사 혜택 <i class="ic ic_carousel_down_white"></i>

                                                    <div class="book_point_modal">
                                                        <p><span>결제사 혜택 안내</span><i class="ic ic_delete"></i></p>
                                                        <p class="card_benefit"><i class="ic ic_pay ic_toss"></i> <span>1월 토스페이 결제 혜택</span></p>
                                                        <p class="card_benefit"><i class="ic ic_pay ic_kpay"></i> <span>1월 카카오페이 결제 혜택</span></p>
                                                        <p class="card_benefit"><i class="ic ic_pay ic_npay"></i> <span>1월 네이버페이 결제 혜택</span></p>
                                                    </div>
                                                </span>
                    <a href=""><span class="book_point">쿠폰 <i
                            class="ic ic_carousel_right_white"></i></span></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="book_detail_delivery">
              <div class="book_detail_title"><span>배송 안내</span></div>
              <div class="book_delivery_list">
                <div class="book_delivery_title"><span>배송비<i class="ic ic_question"></i></span></div>
                <div class="book_delivery_content"><span
                        class="delivery_free">무료 (해외배송의 경우 지역에 따라 상이)</span></div>
              </div>
              <button class="btn store_btn" id="openModal"><span>매장 재고 · 위치</span></button>
            </div>
          </div>
        </div>
      </div>

      <!--/* 책 이미지의 책 소개 영역 */-->
      <div class="book_detail_body">
        <div class="book">
          <div id="pages" class="pages">
            <div class="page">
              <div class="page-inner"><p>1 페이지~</p></div>
            </div>

            <div class="page">
              <div class="page-inner" th:if="${bookInfo.bookIntroContent != null and bookInfo.bookIntroContent != ''}">
                <p class="book_detail_title" th:text="${bookInfo.bookIntroTitle}"></p> <!-- 책 소개 -->
                <p class="book_detail_content" th:utext="${bookInfo.bookIntroContent}"> [[${productVO.description}]] </p>
              </div>
              <div class="page-inner" th:if="${bookInfo.tableOfContentsContent != null and bookInfo.tableOfContentsContent != ''}">
                <p class="book_detail_title" th:text="${bookInfo.tableOfContentsTitle}"></p> <!-- 상세 소개 -->
                <p class="book_detail_content" th:utext="${bookInfo.tableOfContentsContent}"></p>
              </div>
            </div>

            <div class="page" style="max-height: 100%">
              <div class="page-inner" th:if="${bookInfo.publisherReviewContent != null and bookInfo.publisherReviewContent != ''}" style="max-height: 100%">
                <p class="book_detail_title" th:text="${bookInfo.publisherReviewTitle}"></p> <!-- 출판사 서평 -->
                <p class="book_detail_content" th:utext="${bookInfo.publisherReviewContent}" style="max-height: 66vh;"></p>
              </div>
            </div>
            <div class="page">
              <div class="page-inner">
                <p class="book_detail_title">4 페이지~</p>
                <p class="book_detail_content">4 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~</p>

              </div>
              <div class="page-inner">
                <p class="book_detail_title">4-2 페이지~</p>
                <p class="book_detail_content">4 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2
                  페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~2 페이지~</p>
              </div>
            </div>
            <div class="page">
              <div class="page-inner" style="border: none;">
                <p class="book_detail_title" style="margin: 5px;">이 달의 이벤트</p>
                <div class="stickers">
                  <a href="">
                    <div class="sticker sticker1"></div>
                    <span>만 원 이상 무료배송!</span> </a>
                  <a href="">
                    <div class="sticker sticker2"></div>
                    <span>이 달의 책</span></a>
                </div>
                <div class="stickers">
                  <a href="">
                    <div class="sticker sticker3"></div>
                    <span>신년 맞이 쿠폰팩</span></a>
                  <a href="">
                    <div class="sticker sticker4"></div>
                    <span>출석 췤</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--/* 리뷰 출력 영역 */-->
      <div class="book_detail_review">
        <h3 class="book_detail_page_title" id="book_detail_page_title" tabindex="0">책 리뷰([[${productVO.reviewCnt}]])</h3>

        <!--/* 별점 현황 영역 */-->
        <div class="book_rate_score_box">
          <div class="book_rate_score_left">
            <p>구매자 총점</p>
            <i class="ic ic_star" id="review_avg_star_2"></i>
            <span><strong>[[${productVO.reviewAvg}]]</strong> / 5</span>
          </div>

          <div class="book_rate_score_right">
            <div class="rate">
              <div class="rate_1">
                <i class="ic ic_star star-5"></i>
                <!-- 별점 5.0 남긴 사람의 총 인원 수-->
                <span class="rating-users-count">([[${bookInfo.cnt5}]])</span>
              </div>
              <div class="rate_2">
                <div class="gauge_bar">
                  <div class="gauge"></div>
                </div>
              </div>
              <div class="rate_3">
                <!-- 리뷰 총인원 / 별점 5.0 남긴 사람-->
                <span class="score_number" th:data-value="${bookInfo.per5}"> [[${bookInfo.per5}]]%</span>
              </div>
            </div>

            <div class="rate">
              <div class="rate_1">
                <i class="ic ic_star star-4"></i>
                <!-- 별점 4점대 남긴 사람의 총 인원 수-->
                <span class="rating-users-count">([[${bookInfo.cnt4}]])</span>
              </div>
              <div class="rate_2">
                <div class="gauge_bar">
                  <div class="gauge"></div>
                </div>
              </div>
              <div class="rate_3">
                <!-- 리뷰 총인원 / 별점 4점대(4.5~4.0) 남긴 사람-->
                <span class="score_number" th:data-value="${bookInfo.per4}"> [[${bookInfo.per4}]]%</span>
              </div>
            </div>

            <div class="rate">
              <div class="rate_1">
                <i class="ic ic_star star-3"></i>
                <!-- 별점 3점대(3.5~3.0) 남긴 사람의 총 인원 수-->
                <span class="rating-users-count">([[${bookInfo.cnt3}]])</span>
              </div>
              <div class="rate_2">
                <div class="gauge_bar">
                  <div class="gauge"></div>
                </div>
              </div>
              <div class="rate_3">
                <!-- 리뷰 총인원 / 별점 3점대(3.5~3.0) 남긴 사람-->
                <span class="score_number" th:data-value="${bookInfo.per3}"> [[${bookInfo.per3}]]%</span>
              </div>
            </div>

            <div class="rate">
              <div class="rate_1">
                <i class="ic ic_star star-2"></i>
                <!-- 별점 2점대(2.5~2.0) 남긴 사람의 총 인원 수-->
                <span class="rating-users-count">([[${bookInfo.cnt2}]])</span>
              </div>
              <div class="rate_2">
                <div class="gauge_bar">
                  <div class="gauge"></div>
                </div>
              </div>
              <div class="rate_3">
                <!-- 리뷰 총인원 / 별점 2점대(2.5~2.0) 남긴 사람-->
                <span class="score_number" th:data-value="${bookInfo.per2}"> [[${bookInfo.per2}]]%</span>
              </div>
            </div>

            <div class="rate">
              <div class="rate_1">
                <i class="ic ic_star star-1"></i>
                <!-- 별점 1점대(1.5~0.0) 남긴 사람의 총 인원 수-->
                <span class="rating-users-count">([[${bookInfo.cnt1}]])</span>
              </div>
              <div class="rate_2">
                <div class="gauge_bar">
                  <div class="gauge"></div>
                </div>
              </div>
              <div class="rate_3">
                <!-- 리뷰 총인원 / 별점 1점대(1.5~0.0) 남긴 사람-->
                <span class="score_number" th:data-value="${bookInfo.per1}"> [[${bookInfo.per1}]]%</span>
              </div>
            </div>
          </div>
        </div>

        <!--/* 리뷰가 없을 때 등장 */-->
        <div class="book_detail_review_none" th:if="${productVO.reviewCnt == 0}">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 16 16">
            <circle cx="8" cy="8" r="8" fill="#c6c6c6"></circle>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" fill="white"></path>
          </svg>
          <p class="title">아직 작성된 리뷰가 없어요.</p>
          <p class="sub">이 책의 첫 리뷰어가 되어보세요!</p>
          <a href="">계속 쇼핑하기</a> <!-- 메인 페이지로 이동 -->
        </div>

        <!--/* 리뷰가 있을 때 등장 */-->
        <div class="book_review_box grid" id="book_review_box" th:if="${productVO.reviewCnt != 0}"></div>

        <!--/* 리뷰가 있을 때 페이지네이션 등장 */-->
        <div class="pagenation_area" th:if="${productVO.reviewCnt != 0}">
          <div class="pagenation" id="pagenation"></div>
        </div>
      </div>
    </section>
  </div>

  <!-- 모달, 오프라인 매장 재고 영역 -->
  <div class="modal" id="imageModal">
    <img src="" id="fullImage"/>
  </div>
  <div class="modal_overlay" id="modalOverlay">
    <div class="delivery_modal">
      <p class="modal_title">
        <span>매장별 재고 및 도서위치</span>
        <svg
                id="closeModal"
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 16 16"
                fill="none"
                stroke="#1D1D1D"
                stroke-width="1.3"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="close_btn">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
        </svg>
      </p>
      <div class="modal_content">
        <p> 서울 </p>
        <table class="store_stock_table">
          <tr>
            <th>강남</th>
            <th>노원</th>
            <th>상봉</th>
            <th>송파</th>
            <th>신촌</th>
          </tr>
          <tr>
            <td class="td_stock" data-osno="1">0</td>
            <td class="td_stock" data-osno="4">0</td>
            <td class="td_stock" data-osno="5">0</td>
            <td class="td_stock" data-osno="6">0</td>
            <td class="td_stock" data-osno="3">0</td>
          </tr>
          <tr>
            <th>종로</th>
            <th>이젠IT</th>
          </tr>
          <tr>
            <td class="td_stock" data-osno="2">0</td>
            <td class="td_stock" data-osno="19">0</td>
          </tr>
        </table>

        <p> 수도권 </p>
        <table class="store_stock_table">
          <tr>
            <th>구리</th>
            <th>김포</th>
            <th>성남모란</th>
            <th>성남분당</th>
            <th>안산</th>
          </tr>
          <tr>
            <td class="td_stock" data-osno="10">0</td>
            <td class="td_stock" data-osno="15">0</td>
            <td class="td_stock" data-osno="14">0</td>
            <td class="td_stock" data-osno="13">0</td>
            <td class="td_stock" data-osno="12">0</td>
          </tr>
          <tr>
            <th>안양</th>
            <th>의정부</th>
            <th>일산</th>
            <th>인천직영</th>
            <th>하남미사</th>
          </tr>
          <tr>
            <td class="td_stock" data-osno="8">0</td>
            <td class="td_stock" data-osno="9">0</td>
            <td class="td_stock" data-osno="11">0</td>
            <td class="td_stock" data-osno="7">0</td>
            <td class="td_stock" data-osno="16">0</td>
          </tr>
        </table>
        <p> 수도권 외 </p>
        <table class="store_stock_table">
          <tr>
            <th>전주</th>
            <th>천안</th>
          </tr>
          <tr>
            <td class="td_stock" data-osno="18">0</td>
            <td class="td_stock" data-osno="17">0</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!--/* 장바구니 추가를 위한 버튼 요소 */-->
  <div class="prod_purchase_wrap">
    <div class="inner">
      <div class="total_price_area">
        <span>총 상품 금액</span>
        <span class="total_price" id="totalPrice">[[${#numbers.formatInteger(productVO.realPrice, 3, 'COMMA')}]]<span class="won">원</span> </span>
      </div>
      <div class="prod_purchase_btn_area">
        <div class="prod_count_btn_wrap"> <!-- +, - 버튼 -->
          <button type="button" class="btn minus_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#555" stroke="#555"
                 stroke-width="1.5" class="bi bi-dash-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8"/>
            </svg>
          </button>
          <span id="number">1</span>
          <button type="button" class="btn plus_btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#555" stroke="#555"
                 stroke-width="1.5" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
            </svg>
          </button>
        </div>

        <!--/* 장바구니 저장 용도로 만든 <input> 엘리먼트. */-->
        <input type="hidden" id="cartMno" th:value="${#authentication.name != 'anonymousUser' ? #authentication.getPrincipal().memberVO.getMno() : '-1'}">
        <input type="hidden" name="prno" id="prnoEl" th:value="${productVO.prno}">
        <button type="button" class="btn shopping_basket_btn">장바구니</button>
        <button type="button" class="btn purchase_btn">바로구매</button>
        <button type="button" class="btn pick_up_btn">바로픽업</button>
      </div>
    </div>
  </div>

  <!--/* 변수 전달을 위함*/-->
  <script th:inline="javascript">
    let realPrice = [[${productVO.realPrice}]];
    let primaryCtgData = [[${productVO.primaryCtg}]];
    let prno = [[${productVO.prno}]];
    console.log(primaryCtgData);
    let mno = document.getElementById('cartMno').value;
  </script>

  <!--/* 상세페이지 JS */-->
  <script th:src="@{/js/productDetail.js}"></script>

  <!--/* 리뷰 등록 관련 스크립트 */-->
  <script th:src="@{/js/reviewDetail.js}"></script>
  <script th:inline="javascript"> printReviewBox([[${productVO.prno}]], 1, mno); </script>

  <!--/* 상세페이지 책 라이브러리 관련 */-->
  <script>
    var pages = document.getElementsByClassName('page');

    // 1. 페이지 번호와 z-index 설정
    for (var i = 0; i < pages.length; i++) {
        var page = pages[i];
        if (i % 2 === 0) {
            page.style.zIndex = (pages.length - i);
        }
    }

    // 2. 초기 상태로 2페이지까지 flipped 처리
    document.addEventListener('DOMContentLoaded', function () {
        for (var i = 0; i < pages.length; i++) {
            pages[i].pageNum = i + 1;

            // 1페이지와 2페이지를 기본적으로 flipped
            if (i <= 1) {
                pages[i].classList.add('flipped');
            }

            // 클릭 이벤트 추가
            pages[i].onclick = function () {
                // 1페이지와 2페이지로 돌아가지 않도록 설정
                if (this.pageNum <= 2) return;

                // 6페이지에서 더 이상 넘길 수 없도록 설정
                if (this.pageNum >= pages.length - 1 && !this.classList.contains('flipped')) return;

                if (this.pageNum % 2 === 0) {
                    // 짝수 페이지를 닫기
                    this.classList.remove('flipped');
                    this.previousElementSibling.classList.remove('flipped');
                } else {
                    // 홀수 페이지를 넘기기
                    this.classList.add('flipped');
                    this.nextElementSibling.classList.add('flipped');
                }
            };
        }
    });
  </script>
  <script th:src="@{/js/sticker.min.js}"></script>

  <!--/* 장바구니 버튼 관련 */-->
  <script th:src="@{/js/detailCart.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
</main>