<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/productRegister.css}" />
</head>

<main layout:fragment="main">
    <div class="inner">
        <form action="/product/register" method="post" class="registerForm">
            <table>
                <!-- 도서 검색 -->
                <thead>
                <tr>
                    <th colspan="2">도서 검색</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td1">도서 검색</td>
                    <td>
                        <input type="text" class="form_item" id="searchEl" name="keyword">
                        <button type="button" class="searchBtn" id="searchBtn">검색하기</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><p id="printEl">* 위의 검색을 통해 도서 기본 정보를 가져올 수 있습니다.</p></td>
                </tr>
                </tbody>

                <!-- 도서 정보 -->
                <thead>
                <tr>
                    <th colspan="2">도서 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td1">ISBN</td>
                    <td><input type="text" class="form_item" name="isbn" id="isbnEl"></td>
                </tr>
                <tr>
                    <td class="td1">제목</td>
                    <td><input type="text" class="form_item" name="title" id="titleEl"></td>
                </tr>
                <tr>
                    <td class="td1">저자</td>
                    <td><input type="text" class="form_item" name="author" id="authorEl"></td>
                </tr>
                <tr>
                    <td class="td1">가격</td>
                    <td><input type="text" class="form_item" name="discount" id="discountEl"></td>
                </tr>
                <tr>
                    <td class="td1">출판사</td>
                    <td><input type="text" class="form_item" name="publisher" id="publisherEl"></td>
                </tr>
                <tr>
                    <td class="td1">출판일</td>
                    <td><input type="text" class="form_item" name="pubdate" id="pubdateEl"></td>
                </tr>
                </tbody>

                <!-- 카테고리 정보 -->
                <thead>
                <tr>
                    <th colspan="2">카테고리 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td1">카테고리(대)</td>
                    <td><input type="text" class="form_item" name="primaryCtg" id="primaryCtgEl"></td>
                </tr>
                <tr>
                    <td class="td1">카테고리(중)</td>
                    <td><input type="text" class="form_item" name="secondaryCtg" id="secondaryCtgEl"></td>
                </tr>
                </tbody>
                <!-- 판매 정보 -->
                <thead>
                <tr>
                    <th colspan="2">판매 정보</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="td1">재고(권)</td>
                    <td><input type="text" class="form_item" name="stock" id="stockEl"></td>
                </tr>
                <tr>
                    <td class="td1">할인율(%)</td>
                    <td><input type="text" class="form_item" name="discountRate" id="discountRateEl"></td>
                    <td><input type="hidden" class="form_item" name="link" id="linkEl"></td>
                    <td><input type="hidden" class="form_item" name="image" id="imageEl"></td>
                </tr>
                </tbody>

                <thead>
                    <tr>
                        <th colspan="2">상세 설명</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td1 textTd">설명</td>
                        <td><textarea class="textBox" name="description" id="descriptionEl"></textarea></td>
                    </tr>
                </tbody>

                <!-- 제출 버튼 -->
                <tfoot>
                <tr>
                    <td colspan="2">
                        <button class="regBtn" type="button" id="checkBtn"><span class="btn_text">적합 검사</span></button>
                        <button class="regBtn disabled" type="submit" id="regBtn"><span class="btn_text">저장</span></button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <script th:src="@{/js/productRegister.js}"></script>
</main>