<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <title> 이젠문고 </title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/css/mypageMain.css"/>
  <link rel="stylesheet" href="/css/mypageAddressList.css"/>
</head>

<main layout:fragment="main">
  <div class="myPage_inner inner">
    <div th:replace="~{mypage/myPage_left :: myPage_left}"></div>
    <div class="myPage_right">
      <div class="address_book_container">
        <h1 class="address_book_title">배송주소록</h1>
        <div class="address_book_box">
          <!--
          등록된 주소가 없으면 : address_book_wrap : display:none, address_book_none : display:none
          등록된 주소가 있으면 : address_book_wrap -> display:block, address_book_none -> display:none
          -->
          <div class="address_book_box_none" th:if="${isAddrEmpty == 'true'}">
            <i class="ic ic_exclamation_c6"></i>
            <strong> 등록된 배송지가 없습니다. </strong>
            <button type="button" class="registration_of_address_btn register-addr-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000B17" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
              새 배송지 등록
            </button>
          </div>

          <div class="address_list_box" th:unless="${isAddrEmpty == 'true'}">
            <button type="button" class="registration_of_address_btn register-addr-btn">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#000B17" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
              </svg>
              새 배송지 등록
            </button>

            <div class="address_recautions">
              <p>배송지 등록 유의사항</p>
              <ul>
                <li>기본 배송지는 삭제 및 수정 불가합니다. 먼저 다른 배송지를 기본 배송지로 설정해주세요.</li>
                <li>배송지 이름을 제외한 모든 배송지 항목은 필수입니다. 빠짐 없이 정확하게 기입해주시기 바랍니다.</li>
                <li>배송지는 최대 10개 까지 저장할 수 있습니다.</li>
              </ul>
            </div>

            <table class="address_table" th:each="addrInfo, addrStat: ${addrList}" th:data-list-size="${addrList.size}">
              <input type="hidden" class="addr-adno-input" th:value="${addrInfo.adno}" th:data-addr-index="${addrStat.index}">
              <tr>
                <th>[[${addrStat.index +1}]] 배송지 정보</th>
                <td>
                  <div class="address_info_wrap">
                    <p>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#497248" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                      </svg>
                      <span class="location_name addr-name addr-info" th:data-addr-index="${addrStat.index}">[[${#strings.isEmpty(addrInfo.addrName) ? '배송지' : addrInfo.addrName}]]</span>
                      <span class="default_location is-default-mark" th:if="${addrInfo.isDefault == 'Y'}" th:data-addr-index="${addrStat.index}">기본 배송지</span>
                      <span class="default_location is-default-mark" th:unless="${addrInfo.isDefault == 'Y'}" th:data-addr-index="${addrStat.index}">일반 배송지</span>
                      <button type="button" class="registration_of_address_btn modify-btn" th:if="${addrInfo.isDefault == 'N'}" th:data-addr-index="${addrStat.index}">수정</button>
                      <!--/* <button type="button" class="modify-btn" th:if="${addrInfo.isDefault == 'Y'}" th:data-addr-index="${addrStat.index}" disabled>수정</button> */-->
                      <button type="button" class="delete-btn" th:if="${addrInfo.isDefault != 'Y'}" th:data-addr-index="${addrStat.index}">삭제</button>
                    </p>
                    <p class="custom_info">
                      <span class="custom_name rec-name addr-info" th:data-addr-index="${addrStat.index}">[[${addrInfo.recName}]]</span>
                      <span class="phone_number rec-phone addr-info" th:data-addr-index="${addrStat.index}">[[${addrInfo.recPhone}]]</span>
                    </p>
                    <p>
                      <span class="addr-code addr-info" th:data-addr-index="${addrStat.index}">[[${addrInfo.addrCode}]]</span>
                      <span class="addr-addr addr-info" th:data-addr-index="${addrStat.index}">[[${addrInfo.addr}]]</span>
                      <span class="addr-detail addr-info" th:data-addr-index="${addrStat.index}">[[${addrInfo.addrDetail}]]</span>
                    </p>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>

  <div class="modal_overlay" data-is-register-or-modify="0" data-index-for-modify="0">
    <div class="modal_registration_of_address">
      <h2 class="modal_title">배송지 추가
        <svg id="closeModal" xmlns="http://www.w3.org/2000/svg" width="23" height="23" class="bi bi-x-lg" viewBox="0 0 16 16">
          <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" fill="none" stroke="currentColor" stroke-width="1"/>
        </svg>
      </h2>
      <div class="modal_contents">
        <form action="/mypage/address-list/register" method="post">
          <input type="hidden" th:value="${mno}" name="mnoVal" class="addr-mno-input">
          <div class="modal_content">
            <p class="modal_content_title">배송지명</p>
            <div class="input_box">
              <input type="text" placeholder="최대 7글자까지 자유롭게 수정 가능" maxlength="7" name="addrName" class="addr-name-input address-input">
            </div>
          </div>

          <div class="modal_content">
            <p class="modal_content_title">받는 분</p>
            <div class="input_box">
              <input type="text" placeholder="이름을 입력해 주세요." maxlength="7" name="recName" class="address-input addr-rec-name-input">
            </div>
            <div class="input_box number">
              <input type="text" placeholder="휴대폰 번호를 - 없이 입력해 주세요." maxlength="11" name="recPhone" class="address-input addr-rec-phone-input">
            </div>
          </div>

          <div class="modal_content">
            <p class="modal_content_title">주소</p>
            <div class="address">
              <div class="form_addr1">
                <div class="input_box addressform" style="width: 70%;">
                  <input type="text" class="postcode address address-input addr-postcode-input" id="postcode" readonly name="addrCode">
                </div>
                <button type="button" onclick="execDaumPostcode()" class="addrBtn" id="non_member_addrBtn">주소 찾기</button>
              </div>
              <div class="form_addr2">
                <div class="input_box addr1">
                  <input type="text" class="homeAddress addressform address-input addr-addr-input" id="homeAddress" readonly name="addr">
                </div>
                <div class="input_box addr2">
                  <input type="text" class="detailAddress addressform address-input addr-detail-input" id="detailAddress" placeholder="상세 주소를 입력해 주세요." name="addrDetail">
                </div>
              </div>
            </div>

            <p class="defalut_address_check">
              <i class="ic ic_checkbox_off"></i>
              <input type="hidden" class="hidden-set-default-input" name="isDefault" value="N">
              <input type="checkbox" class="check_box set-default-input" name="isDefault" value="Y">
              <span>기본 배송지 등록</span>
            </p>
          </div>

          <div class="modal_content">
            <button type="submit" class="btn registration_btn addr-form-btn">확인</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/js/mypageMain.js"></script>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script src="/js/payoutKakaoAddress.js"></script>
  <script src="/js/mypageAddressListStyle.js"></script>
  <script src="/js/mypageAddressListBusiness.js"></script>
  <!--/* <script src="/js/private_address.js"></script> */-->
  <!--/* <script src="/js/mypageAddressListDisplay.js"></script> */-->
</main>