<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
  <title> 이젠문고 </title>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="/css/mypageMain.css"/>
  <link rel="stylesheet" href="/css/mypageInquiryList.css"/>
</head>

<main layout:fragment="main">
  <div class="myPage_inner inner">
    <div th:replace="~{mypage/myPage_left :: myPage_left}"></div>
    <div class="myPage_right">
      <h1 class="my_orders_title">1:1 문의 내역</h1>
      <div class="list_menu">
        <div class="list_menu_item tap">
          <a th:href="@{/mypage/inquiryList}">전체</a>
        </div>
        <div class="list_menu_item" data-status="답변 대기">
          <a th:href="@{/mypage/inquiryList(status='답변 대기')}">답변 대기</a>
        </div>
        <div class="list_menu_item" data-status="답변 완료">
          <a th:href="@{/mypage/inquiryList(status='답변 완료')}">답변 완료</a>
        </div>
        <a href="/mypage/inquiry"><span>1:1 문의하기</span></a>
      </div>

      <div class="inquiry_list">
        <ul>
          <!-- 반복문: 문의 목록 출력 -->
          <li class="inquriy_item" th:each="inquiry : ${inquiryList}">
            <div class="inquriy_item_wrap">
              <div class="inquriy_item_header">
                <span class="inquriy_state"
                      th:classappend="${inquiry.status == '답변 대기'} ? 'stay' : 'completion'">
                        [[${inquiry.status}]]
                </span>
                <span class="inquiry_type" th:text="${inquiry.type}">문의 유형</span>
              </div>

              <div class="inquriy_item_title_wrap">
                <span class="inquiry_title" th:text="${inquiry.title}">문의 제목</span>
                <span>
                  <span class="inquiry_date" th:text="${#dates.format(inquiry.regAt, 'yyyy/MM/dd')}"></span>
                  <i class="ic ic_arrow_down"></i>
                </span>
              </div>

              <div class="inquriy_item_content_wrap">
                <div class="inquriy">
                  <img th:if="${inquiry.fileAddr != null and inquiry.fileAddr != ''}"
                       th:src="@{/upload/{fileAddr}(fileAddr=${inquiry.fileAddr})}">
                  <strong>질문 > </strong>
                  <span th:text="${inquiry.content}">문의 내용</span>
                </div>
                <div class="inquiry_answer" th:if="${inquiry.response != null}">
                  <strong>답변 > </strong>
                  <span th:text="${inquiry.response}">답변 내용</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <script src="/js/mypageInquiryList.js"></script>
</main>
