<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title> 이젠문고 </title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/css/mypageMain.css"/>
</head>

<main layout:fragment="main">
    <div class="myPage_header"></div>
    <div class="myPage_inner inner">
        <div th:replace="~{mypage/myPage_left :: myPage_left}"></div>
        <div class="myPage_right">
            <div class="myPage_banner">
                <div class="myPage_banner_header">
                    <div class="switch-btn">
                        <div class="circle"></div>
                        <div class="label left">추천</div>
                        <div class="label right">알림</div>
                    </div>

                    <div class="carousel_icon">
                        <i class="ic ic_left">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" fill="rgba(255, 255, 255, 0.3)"/>
                                <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="rgba(255, 255, 255, 0.3)"/>
                                <path d="M27.8125 15.25L18.1875 24L27.8125 32.75" stroke="#555" stroke-width="1.8" stroke-linecap="round"/>
                                <path d="M27.8125 15.25L18.1875 24L27.8125 32.75" stroke="#555" stroke-opacity="1" stroke-width="1.8" stroke-linecap="round"/>
                                <path d="M27.8125 15.25L18.1875 24L27.8125 32.75" stroke="#555" stroke-opacity="1" stroke-width="1.8" stroke-linecap="round"/>
                            </svg>
                        </i>
                        <i class="ic ic_right">
                            <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" fill="rgba(255, 255, 255, 0.3)"/>
                                <rect x="0.5" y="0.5" width="47" height="47" rx="23.5" stroke="rgba(255, 255, 255, 0.3)"/>
                                <path d="M20.1875 32.75L29.8125 24L20.1875 15.25" stroke="#555" stroke-width="1.8" stroke-linecap="round"/>
                                <path d="M20.1875 32.75L29.8125 24L20.1875 15.25" stroke="#555" stroke-opacity="1" stroke-width="1.8" stroke-linecap="round"/>
                                <path d="M20.1875 32.75L29.8125 24L20.1875 15.25" stroke="#555" stroke-opacity="1" stroke-width="1.8" stroke-linecap="round"/>
                            </svg>
                        </i>
                    </div>
                </div>

                <div class="myPage_banner_main">
                    <div class="banner_slide">
                        <div class="banner_item item1">
                            <div class="item_bage">
                                <span class="newBook">신간추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item1-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">[쉬다이닝] Human Acts</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner_item item2">
                            <div class="item_bage">
                                <span class="recommendMd">MD추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item2-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">일인칭 단수</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner_item item3">
                            <div class="item_bage">
                                <span class="recommendMd">MD추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item3-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">유시민의 항소이유서</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner_item item4">
                            <div class="item_bage">
                                <span class="recommendMd">MD추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item4-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">이기적 유전자</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner_item item5">
                            <div class="item_bage">
                                <span class="recommendMd">MD추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item5-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">코스모스</p>
                                </div>
                            </div>
                        </div>
                        <div class="banner_item item6">
                            <div class="item_bage">
                                <span class="recommendMd">MD추천</span>
                            </div>
                            <div class="banner_book">
                                <div class="banner_book_img item6-img"></div>
                                <div class="banner_book_intro">
                                    <p class="intro1">1건의 신간이 출간되었어요.</p>
                                    <p class="intro2">진격의 거인</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="direct_banner">
                <div class="direct_banner_item">
                    <p class="direct_banner_item_header">
                        <i class="ic ic_box"></i>
                        <span class="direct_banner_text">진행중인 주문</span>
                    </p>
                    <p class="direct_banner_item_content"><strong>0</strong> 건</p>
                </div>
                <div class="direct_banner_item">
                    <p class="direct_banner_item_header">
                        <a th:href="@{/mypage/coupon}"><i class="ic ic_coupon"></i></a>
                        <span class="direct_banner_text">쿠폰</span>
                    </p>
                    <p class="direct_banner_item_content"><strong>[[${coupons.size()}]]</strong> 장</p>
                </div>
                <div class="direct_banner_item">
                    <p class="direct_banner_item_header">
                        <a th:href="@{/mypage/point}"><i class="ic ic_point"></i></a>
                        <span class="direct_banner_text">포인트</span>
                    </p>
                    <p class="direct_banner_item_content"><strong>[[${pointsBalance}]]</strong> 원</p>
                </div>
                <div class="direct_banner_item">
                    <p class="direct_banner_item_header">
                        <i class="ic ic_gift_card"></i>
                        <span class="direct_banner_text">기프트카드</span>
                    </p>
                    <p class="direct_banner_item_content"><strong>0</strong> 장</p>
                </div>
            </div>

            <div class="my_library">
                <p class="my_library_title"><span>나의 서재</span> <a href=""><i class="ic ic_arrow_right"></i></a></p>

                <!-- 책 선반 반복, book_shelf 안에 책(figure class='book')이 최대 3권만 들어감!! -->
                <!-- 컨트롤러 예시
                for (int i = 0; i < books.size(); i += 3) {
                    bookShelves.add(books.subList(i, Math.min(i + 3, books.size())));
                }-->
                <div class="book_shelf">
                    <!-- 사용자가 책을 한 권도 구매하지 않았을 경우 -->
                    <div class="book_none">
                        <span class="book_none_title">좋아하는 책들로 나만의 서재를 만들어보세요!</span>
                        <span class="book_none_content">지금 바로 시작해볼까요?</span>
                        <a href="" class="btn">
                            추천 도서 보러 가기 &#8594;
                        </a>
                    </div>

                    <!-- 책 리스트 -->
                    <!-- 사용자가 책을 한 권 이상 구매한 경우 -->
                    <div class="book_list"  style="display:none;">
                        <figure class='book'>
                            <!-- Front -->
                            <ul class='hardcover_front'>
                                <li>
                                    <div class="coverDesign">
                                        <img src="https://cdn.ypbooks.co.kr/image/product/202410/06f4de7c-b904-4e43-b64f-5c7e20c459df.jpg" alt="">
                                        <div class="effect"></div>
                                        <div class="light"></div>
                                    </div>
                                </li>
                                <li></li>
                            </ul>

                            <!-- Pages -->
                            <ul class='page'>
                                <li></li>
                                <li>
                                    <div class="page_btn">
                                        <a class="btn book_btn1" href="#">주문 내역 보기 &#8594</a>
                                        <a class="btn book_btn2" href="#">책 상세 보기 &#8594</a>
                                    </div>
                                </li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>

                            <!-- Back -->
                            <ul class='hardcover_back'>
                                <li></li>
                                <li></li>
                            </ul>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer_book">
        <div class="inner">
            <a class="shelf">
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>

                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
                <div class="book1"></div>
            </a>
        </div>
    </div>
    <script src="/js/mypageMain.js"></script>
</main>