<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <title> 이젠문고 </title>
    <meta charset="UTF-8"/>
    <!--/* <link rel="stylesheet" href="/css/mypageOrderListOuter.css"/> */-->
    <link rel="stylesheet" href="/css/mypageMain.css"/>
    <link rel="stylesheet" href="/css/mypageOrderList.css"/>
</head>

<main layout:fragment="main">
    <div class="myPage_inner inner">
        <div th:replace="~{mypage/myPage_left :: myPage_left}"></div>
        <div class="myPage_right">
            <div class="my_orders_container">
                <input type="hidden" id="isPickUpNoneInput" th:value="${isPickUpNone}">
                <h1 class="my_orders_title">주문/배송 조회 상세</h1>

                <div class="my_orders_nav">
                    <ul class="my_orders_nav_list"> <!--/* order.orderAt */-->
                        <li class="my_orders_nav_item"> <strong>[[${#strings.substringBefore(order.orderAt, 'T')}]]</strong></li> <!-- 주문 날짜 -->
                        <li class="my_orders_nav_item detail_nav_item"> 주문번호 <span class="order-number">[[${order.orno}]]</span> </li> <!-- 주문 번호 -->
                    </ul>
                </div>

                <div class="my_orders_box">

                    <div class="my_orders_box_wrap">
                        <div class="my_orders_table orders_detail_table">
                            <div class="orders_table_header">
                                <strong>주문 상품</strong>
                            </div>

                            <div class="orders_table_content order-data-container" th:each="detailProduct, orderStat: ${detailProductList}" th:data-order-size="${detailProductList.size}"> <!-- 책 1권의 정보 -->
                                <input type="hidden" class="product-discount-input" th:value="${detailProduct.productVO.discount}" th:data-order-index="${orderStat.index}"> <!--/* discount: 책의 원가 */-->
                                <input type="hidden" class="order-detail-price-input" th:value="${detailProduct.orderDetailVO.price}" th:data-order-index="${orderStat.index}">
                                <input type="hidden" class="book-qty-input" th:value="${detailProduct.orderDetailVO.bookQty}" th:data-order-index="${orderStat.index}">
                                <div class="order_book_info_box flex">
                                    <div class="order_book_img">
                                        <a th:href="@{/product/detail(isbn=${detailProduct.productVO.isbn})}"> <!-- 책 상세 페이지 이동 -->
                                            <img th:src="${detailProduct.productVO.image}" alt="book">
                                        </a>
                                    </div>
                                    <div class="order_book_info flex">
                                        <a th:href="@{/product/detail(isbn=${detailProduct.productVO.isbn})}"><strong class="underline" th:text="'[' + ${detailProduct.productVO.primaryCtg} + '] ' + ${detailProduct.productVO.title}"></strong></a> <!-- 책 상세 페이지 이동 -->
                                        <span>수량 : [[${detailProduct.orderDetailVO.bookQty}]]</span>
                                    </div>
                                </div>

                                <div class="order_book_price order_detail_price">
                                    <span><strong>[[${#numbers.formatInteger(detailProduct.orderDetailVO.price, 3, 'COMMA')}]]</strong>원</span>
                                </div>

                                <div class="order_book_status order_detail_status">
                                    <strong class="order-detail-status" th:data-order-index="${orderStat.index}">[[${detailProduct.orderDetailVO.status}]]</strong>
                                </div>
                            </div>
                        </div>

                        <div class="my_orders_table orders_detail_table delivery-table" th:if="${isPickUpNone == 'true'}">
                            <div class="orders_table_header"> <strong>배송 정보</strong> </div>

                            <div class="orders_table_content">
                                <div class="orders_table_title">
                                    <span class="detail_table_title">기본 정보</span>
                                </div>

                                <div class="order_detail_address_info">
                                    <p class="orderer-info">
                                        <span class="orderer-name">[[${delivery.recName}]]</span>
                                        <span class="orderer-number">[[${delivery.recPhone}]]</span>
                                    </p>
                                    <p class="orderer-address">
                                        [[${delivery.addr}]]
                                    </p>
                                    <p class="order-requested"> <span>배송 요청사항 : </span> <span>[[${delivery.addrMemo}]]</span> </p>
                                </div>
                            </div>
                        </div>

                        <!--/* 픽업 테이블이 위의 배송 테이블의 양식을 그대로 씀. */-->
                        <div class="my_orders_table orders_detail_table pickup-table" th:if="${isPickUpNone == 'false'}">
                            <div class="orders_table_header"> <strong>픽업 정보</strong> </div>

                            <div class="orders_table_content">
                                <div class="orders_table_title">
                                    <span class="detail_table_title">기본 정보</span>
                                </div>

                                <div class="order_detail_address_info">
                                    <p class="orderer-info">
                                        <span class="orderer-name">[[${offlineStore.name}]]</span>
                                        <span class="orderer-number">[[${offlineStore.phone}]]</span>
                                    </p>
                                    <p class="orderer-address">
                                        [[${offlineStore.address}]]
                                    </p>
                                    <p class="order-requested"> <span>픽업 일자 : </span> <span>[[${pickUp.regAt}]]</span> </p>
                                </div>
                            </div>
                        </div>

                        <div class="my_orders_table orders_detail_table">
                            <div class="orders_table_header"> <strong>결제 정보</strong> </div>

                            <div class="orders_table_content">
                                <div class="order_product_price width-30">
                                    <p class="flex space-between">
                                        <span class="detail_table_title">주문 금액</span>
                                        <span class="detail_table_title"><strong class="sum-sale-price"></strong>원</span>
                                    </p>
                                    <p class="flex space-between">
                                        <span class="small-text">상품 금액</span>
                                        <span class="small-text"><strong class="small-text sum-original-price"></strong>원</span>
                                    </p>
                                    </p>
                                    <p class="flex space-between">
                                        <span class="small-text">할인 금액</span>
                                        <span class="small-text"><strong class="small-text sum-sale-amount"></strong>원</span>
                                    </p>
                                </div>

                                <div class="order_benefit_price width-30">
                                    <p class="flex space-between">
                                        <span class="detail_table_title">쿠폰/포인트 금액</span>
                                        <span class="detail_table_title"><strong>- [[${total}]] </strong>원</span>
                                    </p>
                                    <p class="flex space-between">
                                        <span class="small-text">쿠폰</span>
                                        <span class="small-text"><strong class="small-text">- [[${coupon}]] </strong>원</span>
                                    </p>
                                    </p>
                                    <p class="flex space-between">
                                        <span class="small-text">포인트</span>
                                        <span class="small-text"><strong class="small-text">- [[${point}]] </strong>p</span>
                                    </p>
                                </div>

                                <div class="order_total_price width-30">
                                    <p class="flex space-between">
                                        <span class="detail_table_title">결제 금액</span>
                                        <span class="detail_table_title"><strong>[[${#numbers.formatInteger(payment.price, 3, 'COMMA')}]]</strong>원</span>
                                    </p>
                                    <p class="flex space-between">
                                        <input type="hidden" id="paymentPgInput" th:value="${payment.measure}">
                                        <span class="small-text">결제 수단</span> <!-- 결제 수단 -->
                                        <span class="small-text"><strong class="small-text payment-measure">[[${payment.measure}]]</strong></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script defer src="/js/mypageOrderListInnerStyle.js"></script>
    <script defer src="/js/mypageOrderDetailDisplay.js"></script>
</main>