<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.books.repository.OrderListMapper">

    <select id="getAllOrderList" resultType="com.ezen.books.domain.OrdersVO">
        select * from orders
        where mno = #{mno}
    </select>

    <select id="getOrderDetailList" resultType="com.ezen.books.domain.OrderDetailVO">
        select * from order_detail
        where orno = #{orno}
    </select>

    <select id="getOrnoList" resultType="String">
        select orno from orders
        where mno = #{mno}
    </select>

    <select id="getProduct" resultType="com.ezen.books.domain.ProductVO">
        select * from product
        where prno = #{prno}
    </select>

    <select id="getMember" resultType="com.ezen.books.domain.MemberVO">
        select * from member
        where mno = #{mno}
    </select>

    <select id="getMemberGrade" resultType="com.ezen.books.domain.GradeVO">
        select * from grade
        where gno = #{gno}
    </select>

    <select id="getOrder" resultType="com.ezen.books.domain.OrdersVO">
        select * from orders
        where orno = #{orno}
    </select>

    <select id="getImpUid" resultType="String">
        select imp_uid from payment
        where orno = #{orno}
    </select>

    <update id="applyRefundToOrderDetail">
        update order_detail
        set status = "refunded"
        where odno = #{odno} and orno = #{orno}
    </update>

    <!--  order_detail 관련 쿼리  -->
    <select id="getOdnoList" resultType="Long">
        select odno from order_detail
        where orno = #{orno}
    </select>

    <select id="findOrderDetail" resultType="com.ezen.books.domain.OrderDetailVO">
        select * from order_detail
        where odno = #{odno}
    </select>

    <select id="getDelivery" resultType="com.ezen.books.domain.DeliveryVO">
        select * from delivery
        where orno = #{orno}
    </select>

    <select id="getPickUp" resultType="com.ezen.books.domain.PickUpVO">
        select * from pickup
        where orno = #{orno}
    </select>

    <select id="getOfflineStore" resultType="com.ezen.books.domain.OfflineStoreVO">
        select * from offline_store
        where osno = #{osno}
    </select>

    <select id="getPayment" resultType="com.ezen.books.domain.PaymentVO">
        select * from payment
        where orno = #{orno}
    </select>
</mapper>