<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.books.repository.PointMapper">
    <!-- 마지막 포인트 내역 조회 -->
    <select id="getLastPointByMember" resultType="com.ezen.books.domain.PointsVO">
        select * from points
        where mno = #{mno}
        order by reg_at desc
        limit 1
    </select>

    <insert id="savePoints">
        insert into points (mno,orno, earned, used, balance, reg_at)
        values (#{mno}, #{orno}, #{earned}, #{used}, #{balance}, now())
    </insert>

    <!-- 포인트 내역 조회 -->
    <select id="getPointsHistory" resultType="com.ezen.books.domain.PointsVO">
        select * from points
        where mno = #{mno}
        order by reg_at desc
    </select>

    <select id="getExpiringPoints" resultType="int">
        SELECT COALESCE(SUM(earned), 0)
        FROM points
        WHERE DATE_ADD(reg_at, INTERVAL 3 MONTH)
        BETWEEN DATE_FORMAT(CURDATE(), '%Y-%m-01')
        AND LAST_DAY(CURDATE())
    </select>

</mapper>