<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.books.repository.ReviewMapper">

    <insert id="register">
        insert into review (prno, mno, content, rating, file_addr)
        values (#{prno}, #{mno}, #{content}, #{rating}, #{fileAddr});
    </insert>

    <select id="getTotalCount" resultType="int">
        select count(rno) from review where is_del = 'N' and prno = #{prno}
    </select>

    <select id="getTotalCountByPrno" resultType="int">
        select count(rno) from review where is_del = 'N' and prno = #{prno}
    </select>

    <select id="getList" resultType="com.ezen.books.domain.ReviewVO">
        select * from review where is_del = 'N' and prno = #{prno} order by rno desc limit #{startIndex}, #{qty};
    </select>

    <select id="isLike" resultType="int">
        select count(*) from likes where rno = #{rno} and mno = ${mno};
    </select>

    <insert id="doLike">
        insert into likes(rno, mno) values(#{rno}, #{mno});
    </insert>

    <delete id="cancel">
        delete from likes where rno = #{rno} and mno = #{mno};
    </delete>

    <update id="updateCnt">
        update review set like_cnt = like_cnt + #{num} where rno = #{rno}
    </update>

    <select id="getReviewCnt" resultType="com.ezen.books.domain.BookInfo">
        select
        count(case when rating = 5 then 1 end) as cnt5,
        count(case when rating in (4, 4.5) then 1 end) as cnt4,
        count(case when rating in (3, 3.5) then 1 end) as cnt3,
        count(case when rating in (2, 2.5) then 1 end) as cnt2,
        count(case when rating in (1, 1.5) then 1 end) as cnt1
        from review
        where prno = #{prno} and is_del = 'N'
    </select>

</mapper>