<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title> 이젠문고 </title>
    <meta charset="UTF-8"/>
<!--    <link rel="stylesheet" href="/css/memberReset.css"/>-->
    <link rel="stylesheet" href="/css/memberLogin.css"/>
</head>

<main layout:fragment="main">
    <div class="inner">
        <div class="login_content">
            <div class="login_wrap">
                <form action="/member/login" method="post" id="loginForm"> <!-- 회원 로그인 -->
                    <input type="hidden" id="is_del" name="isDel" value="${member.isDel}">
                    <ul class="panel_wrap">
                        <li class="panel_item">
                            <div class="panel_inner" aria-controls="member">
                                <div class="login_form">
                                    <div class="login_box">
                                        <div class="input_item id" id="input_item_id">
                                            <input type="text" id="id" class="input_id" name="loginId">
                                            <label for="id" class="text_label" id="id_label">아이디 또는 이메일</label>
                                            <button type="button" class="btn btn_delete" id="id_clear">
                                                <i class="ic ic_delete"></i>
                                            </button>
                                        </div>
                                        <div class="input_item pw" id="input_item_pw">
                                            <input type="password" id="pw" class="input_pw" name="password">
                                            <label for="pw" class="text_label" id="pw_label">비밀번호</label>
                                            <button type="button" class="btn btn_view" id="pw_view" aria-pressed="false">
                                                <i class="ic ic_view hide"></i>
                                            </button>
                                            <button type="button" class="btn_delete" id="pw_clear">
                                                <i class="ic ic_delete"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="login_sub_wrap">
                                    <div class="login_find">
                                        <a href="/member/id_find">아이디 찾기</a>
                                        <a href="/member/pw_find">비밀번호 찾기</a>
                                    </div>
                                </div>
                                <div class="login_error_wrap">
                                    <div class="error_message" id="err_id" style="display:none; color: #D50136;">
                                        </i> <span>아이디를 입력해주세요.</span>
                                    </div>
                                    <div class="error_message" id="err_pw" style="display:none; color: #D50136;">
                                        <span>비밀번호를 입력해주세요.</span>
                                    </div>
                                </div>
                                    <div class="err_msg" th:if="${param.error}">
                                        <i class="ic ic_error"></i> <span th:text="${param.err_msg}" style="color: #EB003B; font-size: 13px;"></span>
                                    </div>
                                <div class="login_btn_wrap">
                                    <button type="submit" class="btn btn_login"> <span class="btn_text">로 그 인</span></button>
                                    <div class="sns_login_box">
                                        <div class="sns_login_line">
                                            <span> 간편하게 로그인 </span>
                                        </div>
                                        <ul class="sns_login_list">
                                            <li class="sns_login naver"><a href="http://localhost:8087/oauth2/authorization/naver?redirect_uri=http://localhost:8087&mode=login"><i class="ic ic_naver"></i></a></li>
                                            <li class="sns_login kakao"><a href="http://localhost:8087/oauth2/authorization/kakao?redirect_uri=http://localhost:8087&mode=login"><i class="ic ic_kakao"></i></a></li>
                                            <li class="sns_login google"><a href="http://localhost:8087/oauth2/authorization/google?redirect_uri=http://localhost:8087&mode=login"><i class="ic ic_google"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
            <div class="join_wrap">
                <div class="join_text">
                    <p class="join_title"><strong>회원가입을 하시겠습니까?</strong></p>
                    <p class="join_info">회원가입하고 이젠문고의 다양한 혜택을 누려보세요.</p>
                </div>
                <div class="join_btn_box">
                    <a href="/member/email_auth" class="btn join_btn"> 회 원 가 입 </a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/memberLogin.js"> </script>
</main>

</html>