main h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

/* Textbox container */
.textbox {
    position: relative;
    margin-bottom: 30px;
}

/* Input field */
.textbox input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: border-color 0.3s;
}

.textbox input:focus {
    border-color: #007bff;
    outline: none;
}

/* Label */
.textbox label {
    position: absolute;
    left: 12px;
    top: 8px;
    font-size: 16px;
    color: #888;
    transition: all 0.2s ease-in-out;
}

/* Error messages */
.error {
    color: #D50136;
    font-size: 14px;
    display: none; /* Hidden by default */
}

.textbox input:invalid ~ .error {
    display: block;
}

/* Password confirmation feedback */
#same {
    color: #D50136;
    font-size: 14px;
    display: none;
}

/* Submit button */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #497248;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #39553F;
}

/* Input focus */
.textbox input:focus {
    border-color: #007bff;
}

/* Responsive design for smaller screens */
@media (max-width: 500px) {
    main {
        width: 90%;
    }

    .textbox input, input[type="submit"] {
        font-size: 14px;
    }

    .textbox label {
        font-size: 14px;
    }
}

.find_wrap{
    width: 500px;
    margin: 50px auto;
    border: 1px solid #C6C6C6;
    border-radius: 12px;
    height: 450px;
    padding: 24px;
    padding-top: 40px;
}

h2 {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
}
