<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
    <h3>Main Area!!</h3>

    <!--/* 결제를 위해 임시로 만든 경로. */-->
    <a th:href="@{/payment/shoppingcart}"><button type="button">Shopping Cart</button></a>
    <a th:href="@{/user/join}"><button type="button">User Join</button></a>
    <a th:href="@{/user/login}"><button type="button">User Login</button></a>
</div>