<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>EzenBooks</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/chatbot.css}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollToPlugin.min.js"></script>
    <style>
        #notification-container {
            position: relative;
        }

        #notification-icon {
            cursor: pointer;
            position: relative;
        }

        #unread-count {
            position: absolute;
            top: 0;
            right: 0;
            background-color: red;
            color: white;
            border-radius: 50%;
            padding: 3px 8px;
            font-size: 12px;
        }

        #notification-dropdown {
            display: none;
            position: absolute;
            top: 30px;
            right: 0;
            border: 1px solid #ccc;
            background-color: white;
            width: 200px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        #notification-dropdown.show {
            display: block;
        }

        .notification-item {
            padding: 10px;
            cursor: pointer;
        }

        .notification-item.unread {
            background-color: #f8f8f8;
            font-weight: bold;
        }

        .notification-item:hover {
            background-color: #f1f1f1;
        }
    </style>
</head>

<main layout:fragment="main">
    <section class="swiper mySwiper" id="mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide slide1">
                <div class="inner">
                    <div href="" class="slide-wrap">
                        <div class="text_area">
                            <p class="title_text">이젠 팝업스토어</p>
                            <p class="sub_text">책과 함께하는 새로운 문화 경험</p>
                            <p class="content_text">책과의 만남을 통해 새로운 영감을 느껴보세요.</p>
                        </div>
                        <div class="slide1-img element"></div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide slide2">
                <div class="inner">
                    <div class="slide-wrap">
                        <div class="circ1"></div>
                        <div class="circ2"></div>
                        <div class="circ3"></div>
                        <div class="circ4"></div>
                        <div class="circ"></div>
                        <img src="/image/main/main_kid.png" alt="main_kid" class="element main_kid">
                        <div class="text_area">
                            <p class="title_text">&#x201C; 우리 아이의 상상력을 키우는 첫 번째 도서 &#x201D;</p>
                            <p class="sub_text">읽는 즐거움과 배움의 기쁨을 동시에!</p>
                            <p class="content_text">아이들이 꿈꾸는 이야기를 만나보세요</p>
                            <p><a href="/product/list?pageNo=1&primaryCtg=유아/어린이">아동도서 전체보기</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide slide3">
                <div class="inner">
                    <div class="slide-wrap">
                        <div class="text_area">
                            <p class="title_text">리뷰왕을 찾아라!</p>
                            <p class="sub_text">당신의 진심 어린 리뷰가 빛나는 순간!</p>
                            <p class="content_text">최고의 리뷰를 남기고 푸짐한 혜택의 주인공이 되어보세요.</p>
                            <p><a href="">이벤트 보러가기</a></p>
                        </div>
                        <div class="trophy element"></div>
                        <div class="review-event-banner">
                            <div class="girl"></div>
                            <div class="review">
                                <p style="color: #cde2f7;">리뷰왕을</p>
                                <p style="color: #65a1dd;">찾아라!</p>
                            </div>
                            <div class="man"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide slide slide4">
                <div class="inner">
                    <a href="" class="slide-wrap">
                        <div class="book book1 element"></div>
                        <div class="book book2 element"></div>
                        <div class="book book3 element"></div>
                        <div class="book book4 element"></div>
                        <div class="book book5 element"></div>
                        <!--<div class="book book6 element"></div>-->
                        <div class="center">
                            <div class="book_mark"></div>
                            <span>이달의</span>
                            <span>도서</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </section>

    <section class="daily_pick section">
        <div class="inner">
            <p class="main_section_title"><strong class="main_section_title">오늘의 도서</strong><span class="today_date">dd</span></p>
            <div class="daily_pick_containner section_containner">
                <div class="daily_pick_wrap section_wrap">
                    <div class="daily_pick_left">
                        <a href="">
                            <div class="daily_pick_book">
                                <img src="" alt="">
                            </div>
                            <div class="daily_pick_content">
                                <p><strong class="daily_pick_title"></strong></p>
                                <p class="daily_pick_info"></p>
                            </div>
                        </a>
                    </div>
                    <div class="daily_pick_right">
                        <div class="daily_pick_slide">
                            <div class="daily_pick_slide_inner">
                                <div class="daily_pick_slide_book book_1">
                                    <div class="book">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192953434.jpg" alt="">
                                    </div>
                                </div>
                                <div class="daily_pick_slide_book book_2">
                                    <div class="book">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788965132288.jpg" alt="">
                                    </div>
                                </div>
                                <div class="daily_pick_slide_book book_3">
                                    <div class="book">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791169182355.jpg" alt="">
                                    </div>
                                </div>
                                <div class="daily_pick_slide_book book_4">
                                    <div class="book">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/4801160508797.jpg" alt="">
                                    </div>
                                </div>
                                <button type="button" class="btn slide_btn">
                                    <i class="ic ic_refresh"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ezen-bestseller section">
        <div class="inner">
            <p class="main_section_title"><strong class="main_section_title">이젠문고 베스트셀러</strong> </p>
            <div class="bestseller_containner section_containner">
                <div class="section_wrap">
                    <div class="bestseller_list">
                        <a href="/product/detail?isbn=9788936434120" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking" style="background-color: #E7B343;">1</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/300x0/pdt/9788936434120.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">소년이 온다</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">한강</span>
                                    <span class="book_publisher">창비</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">13,500</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="/product/detail?isbn=9788936434595" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking" style="background-color: #c6c6c6;">2</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788936434595.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">채식주의자</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">한강</span>
                                    <span class="book_publisher">창비</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">13,500</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="/product/detail?isbn=9788954682152" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking" style="background-color: #CD7F32;">3</span>
                                <img src="https://books.google.co.kr/books/publisher/content?id=j8pEEAAAQBAJ&hl=ko&pg=PP1&img=1&zoom=3&sig=ACfU3U1foHxvDFfeLaxrSbANsSIMLZBtNw&w=1280" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">작별하지 않는다</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">한강</span>
                                    <span class="book_publisher">문학동네</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">15,120</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">4</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791169851053.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">어른의 행복은 조용하다</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">태수</span>
                                    <span class="book_publisher">페이지2북스</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">16,020</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">5</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/480D241292820.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">입이 트이는 영어</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">이현석</span>
                                    <span class="book_publisher">EBS한국교육방송공사</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">14,220</strong>
                                        <span class="won">원</span>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">6</span>
                                <img src="https://store.kyobobook.co.kr/_next/image?url=https%3A%2F%2Fcontents.kyobobook.co.kr%2Fsih%2Ffit-in%2F178x278%2Fpdt%2F9791139716146.jpg&w=180&q=80" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">행동하지 않으면 인생은 바뀌지 않는다</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">브라이언 트레이시</span>
                                    <span class="book_publisher">현대지성</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">15,210</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="/product/detail?isbn=9788954651134" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">7</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788954651134.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">흰</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">한강</span>
                                    <span class="book_publisher">문학동네</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">13,050</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">8</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788998441012.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">모순</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">양귀자</span>
                                    <span class="book_publisher">쓰다</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">11,700</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">9</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/200x0/pdt/9788932024639.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">서랍에 저녁을 넣어 두었다</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">한강</span>
                                    <span class="book_publisher">문학과지성사</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">10,800</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="bestseller_item">
                            <div class="bestseller_img_wrap">
                                <span class="bestseller_ranking">10</span>
                                <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788959897223.jpg" alt="" class="bestseller_list_thum_img">
                            </div>
                            <div class="bestseller_content">
                                <div class="bestseller_title_wrap flex">
                                    <span class="bestseller_title">트렌디 코리아</span>
                                </div>

                                <div class="bestseller_write">
                                    <span class="book_writer">김난도 외 10인</span>
                                    <span class="book_publisher">미래의창</span>
                                </div>

                                <div class="bestseller_info">
                                    <div class="bestseller_price_wrap">
                                        <strong class="bestseller_price">18,000</strong>
                                        <span class="won">원</span>
                                    </div>
                                    <div class="book_discount"> <span class="discount">10%</span> </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ezen-best-review section">
        <div class="inner">
            <p class="main_section_title"><strong class="main_section_title">이 달의 리뷰</strong> </p>
        </div>
        <div class="my-carousel bg-darker">
            <div class="swiper my-carousel__swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <div>
                                <div class="best_review_wrap">
                                    <div class="best_reviewer">
                                        <div class="best_reviewer_profile">
                                            <div class="member_profile_photo"></div>
                                            <div class="best_reviewer_info">
                                                <span><strong>홍길동</strong>님</span>
                                                <span class="review_date">25.01.01</span>
                                            </div>
                                        </div>
                                        <div class="best_review_rating flex">
                                            <span>4.5</span>
                                            <i class="ic ic_star star-4"></i>
                                        </div>
                                    </div>
                                    <div class="best_review_contents">
                                        <div class="best_review_content">
                                            <img src="https://contents.kyobobook.co.kr/sih/fit-in/300x0/pdt/9788936434120.jpg" alt="">
                                            <p>소년이 온다</p>
                                            <p class="review-text">
                                                광주의 기억, 채 아물지 못한 그 환부를 가감없이 들추는 한강의 펜끝. 그 펜을 따라가다보면 결국 ‘어떻게 그들을 기억할 것인가‘라는 물음에 도달한다. 운동이나 항쟁, 혹은 투쟁처럼 멋드러진 이름도 좋다. 온몸을 불사질러 민주화를 환기한 것이 바로 그들이었으니까. 또한 그것은 여전히 미결된 과제이기도 하고. 역사 속으로 그들이 걸어들어간 이후 우리는 그 큰 덕을 보았고, 그로 인해 막중한 부채감을 갖게 되었지 않았던가. 하지만 이러한 명명 행위는 어쩌면 그들 개개인을 한데 뭉뚱그려버리는 모종의 ‘폭력‘이 아닐까. 책제가 ‘그들‘이 온다가 아니라 ‘소년‘이 온다인 것은, 오월 광주에서 무참히 도륙된 영혼 하나 하나가 지녔던 순결함, 숭고함, 그리고 평범함에 등불을 밝히고자 했던 것은 아닐는지.
                                            </p>
                                        </div>
                                        <p>
                                            <strong class="like_count">235</strong>
                                            <i class="ic ic_heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <div>
                                <div class="best_review_wrap">
                                    <div class="best_reviewer">
                                        <div class="best_reviewer_profile">
                                            <div class="member_profile_photo"></div>
                                            <div class="best_reviewer_info">
                                                <span><strong>정슬빛</strong>님</span>
                                                <span class="review_date">25.01.01</span>
                                            </div>
                                        </div>
                                        <div class="best_review_rating flex">
                                            <span>4.5</span>
                                            <i class="ic ic_star star-4"></i>
                                        </div>
                                    </div>
                                    <div class="best_review_contents">
                                        <div class="best_review_content">
                                            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788937443848.jpg" alt="">
                                            <p>이방인</p>
                                            <p class="review-text">
                                                자신이 얼마나 자신의 삶과 무관한 존재인가
                                            </p>
                                        </div>
                                        <p>
                                            <strong class="like_count">235</strong>
                                            <i class="ic ic_heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <div>
                                <div class="best_review_wrap">
                                    <div class="best_reviewer">
                                        <div class="best_reviewer_profile">
                                            <div class="member_profile_photo"></div>
                                            <div class="best_reviewer_info">
                                                <span><strong>지윤희</strong>님</span>
                                                <span class="review_date">25.01.01</span>
                                            </div>
                                        </div>
                                        <div class="best_review_rating flex">
                                            <span>4.5</span>
                                            <i class="ic ic_star star-4"></i>
                                        </div>
                                    </div>
                                    <div class="best_review_contents">
                                        <div class="best_review_content">
                                            <img src="	https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/480D240137250.jpg" alt="">
                                            <p>망그러진 만화 2 : 망그러진 곰과 햄터의 데굴데굴 유쾌한 날들!</p>
                                            <p class="review-text">
                                                망곰이는 전국민이 읽어야 해요. 이 몽글몽글함으로 우리 모두 서로서로 아끼며 살아가요^_^
                                            </p>
                                        </div>
                                        <p>
                                            <strong class="like_count">235</strong>
                                            <i class="ic ic_heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <div>
                                <div class="best_review_wrap">
                                    <div class="best_reviewer">
                                        <div class="best_reviewer_profile">
                                            <div class="member_profile_photo"></div>
                                            <div class="best_reviewer_info">
                                                <span><strong>박준희</strong>님</span>
                                                <span class="review_date">25.01.01</span>
                                            </div>
                                        </div>
                                        <div class="best_review_rating flex">
                                            <span>4.3</span>
                                            <i class="ic ic_star star-4"></i>
                                        </div>
                                    </div>
                                    <div class="best_review_contents">
                                        <div class="best_review_content">
                                            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788931469882.jpg" alt="">
                                            <p>이것이 자바다</p>
                                            <p class="review-text">
                                                개념만 배우고 끝나는 자바 교육들에 지쳐가고 있던 찰나에 기대되는 책이 나왔네요! 여러 예제들을 통해 나만의 웹 사이트를 만들 날들이 고대됩니다! 어서 출간되어서 보면서 배우고 싶은 책이에요^^
                                            </p>
                                        </div>
                                        <p>
                                            <strong class="like_count">235</strong>
                                            <i class="ic ic_heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="swiper-card">
                            <div>
                                <div class="best_review_wrap">
                                    <div class="best_reviewer">
                                        <div class="best_reviewer_profile">
                                            <div class="member_profile_photo"></div>
                                            <div class="best_reviewer_info">
                                                <span><strong>차민주</strong>님</span>
                                                <span class="review_date">25.01.01</span>
                                            </div>
                                        </div>
                                        <div class="best_review_rating flex">
                                            <span>4.5</span>
                                            <i class="ic ic_star star-4"></i>
                                        </div>
                                    </div>
                                    <div class="best_review_contents">
                                        <div class="best_review_content">
                                            <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192366456.jpg" alt="">
                                            <p>베이글 중독</p>
                                            <p class="review-text">
                                                신간 소식이 들리자마자 구매한 책~ 베이글을 좋아하는 사람이라면 내 입에 맞는 베이글을 만들어보고 싶다는 생각을 해봤을 것 같다. 막연하고 어렵기만 할 것 같았던 베이글을 이 책을 보니 어렵지만은 않을 것 같다. 필요한 재료와 도구들도 너무 친절하게 잘 설명해 주시고 이렇게나 친절할 수가.. 이제 베이글 맛집 줄 안서도 될 것 같아요^^
                                            </p>
                                        </div>
                                        <p>
                                            <strong class="like_count">235</strong>
                                            <i class="ic ic_heart"></i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="my-carousel__actions">
                    <button class="btn btn--subtle my-carousel__control my-carousel__control--prev">
                        <i class="ic ic_carousel_left_white"></i>
                    </button>
                    <button class="btn btn--subtle my-carousel__control my-carousel__control--next">
                        <i class="ic ic_carousel_right_white"></i>
                    </button>
                </div>
            </div>
    </section>

    <section class="section new_book">
        <div class="inner">
            <p class="main_section_title"><strong class="main_section_title">화제의 신간</strong></p>
            <div class="new_book_containner">
                <div class="new_book_wrap">
                    <div class="swiper new_book_swiper">
                        <div class="swiper-wrapper new_book_swiper_wrapper">
                            <div class="new_book_slide swiper-slide">
                                <div class="new_book_swiper_wrap">
                                    <div class="new_book_swiper_left">
                                        <div class="new_book_swiper_left_inner">
                                            <div class="top">
                                                <strong>모두의 크리스마스</strong>
                                                <span class="writer">김제니</span>
                                            </div>
                                            <div class="bottom">
                                                <span>사랑 가득, 기쁨 가득!</span>
                                                <span>썸머의 좌충우돌 산타 되기 프로젝트</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="new_book_swiper_right">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9788901290157.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="new_book_slide swiper-slide">
                                <div class="new_book_swiper_wrap">
                                    <div class="new_book_swiper_left">
                                        <div class="new_book_swiper_left_inner">
                                            <div class="top">
                                                <strong>당신을 알기 전에는 시 없이도 잘 지냈습니다</strong>
                                                <span class="writer">류시화</span>
                                            </div>
                                            <div class="bottom">
                                                <span>사랑과 고독, 삶과 죽음, 희망과 상실,</span>
                                                <span>시간과 운명에 대한 경이감을 그려낸</span>
                                                <span>순도 높은 93편의 시</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="new_book_swiper_right">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791193238493.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="new_book_slide swiper-slide">
                                <div class="new_book_swiper_wrap">
                                    <div class="new_book_swiper_left">
                                        <div class="new_book_swiper_left_inner">
                                            <div class="top">
                                                <strong>일의 감각</strong>
                                                <span class="writer">조수용</span>
                                            </div>
                                            <div class="bottom">
                                                <span>좋은 감각을 지니려면,</span>
                                                <span>디자인을 잘하려면,</span>
                                                <span>더 나은 브랜드를 만들려면,</span>
                                                <span>어떻게 해야 하는가?</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="new_book_swiper_right">
                                        <img src="https://www.100news.kr/imgdata/100news_kr/202412/2024122434466309.png" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="new_book_slide swiper-slide">
                                <div class="new_book_swiper_wrap">
                                    <div class="new_book_swiper_left">
                                        <div class="new_book_swiper_left_inner">
                                            <div class="top">
                                                <strong>하루 한 장 나의 어휘력을 위한 필사 노트</strong>
                                                <span class="writer">유선경</span>
                                            </div>
                                            <div class="bottom">
                                                <span>어휘력을 끌어올리려</span>
                                                <span>이제 막 필사를 시작하는</span>
                                                <span>당신이 읽어야 할</span>
                                                <span>단 한 권의 책</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="new_book_swiper_right">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791171711673.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="new_book_slide swiper-slide">
                                <div class="new_book_swiper_wrap">
                                    <div class="new_book_swiper_left">
                                        <div class="new_book_swiper_left_inner">
                                            <div class="top">
                                                <strong>뉴라이트 비판</strong>
                                                <span class="writer">김기협</span>
                                            </div>
                                            <div class="bottom">
                                                <span>시대 착오,</span>
                                                <span>사대매국,</span>
                                                <span>역사쿠데타 세력</span><br>
                                                <span>뉴라이트에 대한 전방위 비판</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="new_book_swiper_right">
                                        <img src="https://contents.kyobobook.co.kr/sih/fit-in/458x0/pdt/9791192836959.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="notice">
        <div class="inner">
            <strong>공지사항</strong>
            <div class="notice_slide_wrap">
                <div class="swiper notice_swiper">
                    <div class="notice_slide swiper-wrapper">
                        <div class="swiper-slide"><a href="">[공지사항] 공지사항1입니다.</a></div>
                        <div class="swiper-slide"><a href="">[공지사항] 공지사항2입니다.</a></div>
                        <div class="swiper-slide"><a href="">[공지사항] 공지사항3입니다.</a></div>
                        <div class="swiper-slide"><a href="">[공지사항] 공지사항4입니다.</a></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <a href="">
                <i class="ic ic_arrow_right"></i>
            </a>
        </div>
    </div>

    <div class="chat-bot">
        <div id="chatBox" class="chat-box">
            <div class="chat-header">
                <span class="unit"></span>
                <span class="chat-header-title">이젠챗봇</span>
                <button id="closeChat" class="btn close-chat"><i class="ic ic_close"></i></button>
            </div>

            <!-- 채팅 내용이 여기에 표시됩니다 -->
            <div class="chat-content">
                <!-- 봇 메시지 그룹 -->
                <!--                <div class="bot-message-group">-->
                <!--                    <div class="bot-message message">안녕하세요! <span class="bot-message-time">12:30</span></div>-->
                <!--                    <div class="bot-message message">무엇을 도와드릴까요? <span class="bot-message-time">12:30</span></div>-->
                <!--                    <div class="bot-message message">필요한 정보를 알려주세요.</div>-->
                <!--                </div>-->
                <!--                &lt;!&ndash; 사용자 메시지 그룹 &ndash;&gt;-->
                <!--                <div class="user-message-group">-->
                <!--                    <div class="user-message message">안녕!<span class="bot-message-time">12:30</span></div>-->
                <!--                </div>-->
                <!--                &lt;!&ndash; 봇 메시지 그룹 &ndash;&gt;-->
                <!--                <div class="bot-message-group">-->
                <!--                    <div class="bot-message message">안녕하세요!</div>-->
                <!--                    <div class="bot-message message">무엇을 도와드릴까요?</div>-->
                <!--                    <div class="bot-message message">필요한 정보를 알려주세요.</div>-->
                <!--                </div>-->
                <!--                &lt;!&ndash; 사용자 메시지 그룹 &ndash;&gt;-->
                <!--                <div class="user-message-group">-->
                <!--                    <div class="user-message message">안녕!</div>-->
                <!--                </div>-->
            </div>

            <div class="chat-footer">
                <div class="chat-input-wrap">
                    <input type="text" id="userMessage" placeholder="메시지를 입력하세요.">
                    <button id="sendButton" class="btn send-btn" data-classify="a-type">
                        <i class="ic ic_sand"></i>
                    </button>
                </div>
            </div>
        </div>

        <button type="button" id="chatBtn">
            <svg class="owl" width="115" height="124" viewBox="0 0 115 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_425_209)">
                    <path d="M46.3274 115.637L45.0531 114.408L46.5094 100.119C46.8735 96.7057 46.3729 93.8841 45.3717 93.8386H45.3262C44.3705 93.7476 43.2783 96.4781 42.9597 99.8458L41.458 114.591L40.4113 115.182C37.0436 117.139 34.7682 119.232 35.3143 119.915L35.3598 119.961C35.8604 120.552 38.2724 119.824 41.0939 118.368C40.9574 121.189 41.458 123.328 42.3226 123.374H42.3681C43.2328 123.419 44.1885 121.28 44.598 118.413C46.9645 120.461 49.2399 121.735 49.877 121.235L49.9225 121.189C50.6507 120.734 49.0579 118.231 46.3274 115.637Z" fill="#FF931E"/>
                    <path d="M73.678 115.091L72.6313 114.454L71.4026 99.8001C71.1295 96.387 70.0828 93.793 69.1272 93.8385H69.0817C68.126 93.884 67.5344 96.569 67.8529 99.9821L69.0362 114.135L67.7164 115.318C64.9404 117.821 63.3021 120.324 64.0302 120.871L64.0757 120.916C64.7128 121.417 66.9883 120.188 69.4002 118.186C69.7643 121.098 70.6745 123.237 71.5846 123.191H71.6301C72.4948 123.146 72.9954 121.007 72.9499 118.231C75.7714 119.733 78.1834 120.506 78.684 119.915L78.7295 119.869C79.2756 119.232 77.0457 117.093 73.678 115.091Z" fill="#FF931E"/>
                    <path d="M99.9816 4.00475C97.3421 1.77483 85.3278 7.09933 85.3278 7.09933C85.3278 7.09933 71.6298 0 55.6563 0C39.6828 0 28.6242 7.09933 28.6242 7.09933C28.6242 7.09933 14.8807 0.455085 12.1956 2.63949C9.55616 4.86941 14.8807 23.2093 14.8351 30.1266C14.7896 52.5168 -2.003 108.174 57.8407 108.583C117.684 109.038 99.4355 52.1983 98.6163 30.1266C98.4343 23.6189 102.667 6.18916 99.9816 4.00475Z" fill="#ABBC86"/>
                    <path d="M14.8811 30.1722C14.8811 29.9901 14.8811 29.8081 14.8811 29.6261C18.5218 22.2537 26.1217 17.1567 34.9503 17.1567C45.3718 17.1567 54.1094 24.2561 56.5669 33.9039C59.0698 24.2561 67.8075 17.1567 78.1834 17.1567C87.3761 17.1567 95.2491 22.7088 98.7077 30.6273C98.8898 34.2679 99.4814 38.8188 100.119 43.8702C98.0706 54.1096 89.0599 61.8461 78.1834 61.8461C67.762 61.8461 59.0243 54.7468 56.5669 45.099C54.0639 54.7468 45.3263 61.8461 34.9503 61.8461C24.984 61.8461 16.5649 55.3384 13.6523 46.3277C14.244 40.093 14.8811 34.4955 14.8811 30.1722Z" fill="#497248"/>
                    <path d="M55.8839 65.168C74.861 65.168 90.2428 80.1403 90.2428 98.6622C90.2428 98.7988 90.2428 98.9808 90.2428 99.1173C83.5531 105.033 73.3137 108.765 57.8863 108.629C39.5009 108.492 28.3513 103.122 21.707 95.1581C23.5274 78.3199 38.1356 65.168 55.8839 65.168Z" fill="#497248"/>
                    <path class="right-eye" d="M79.5936 52.7897C88.4155 52.7897 95.5671 45.6382 95.5671 36.8163C95.5671 27.9943 88.4155 20.8428 79.5936 20.8428C70.7717 20.8428 63.6201 27.9943 63.6201 36.8163C63.6201 45.6382 70.7717 52.7897 79.5936 52.7897Z" fill="white"/>
                    <path class="left-eye" d="M33.494 52.7897C42.3159 52.7897 49.4675 45.6382 49.4675 36.8163C49.4675 27.9943 42.3159 20.8428 33.494 20.8428C24.6721 20.8428 17.5205 27.9943 17.5205 36.8163C17.5205 45.6382 24.6721 52.7897 33.494 52.7897Z" fill="white"/>
                    <!-- 눈동자 추가 -->
                    <circle class="left-pupil" cx="33.494" cy="36.8163" r="4.5" fill="#2d2d2d"></circle>
                    <circle class="right-pupil" cx="79.5936" cy="36.8163" r="4.5" fill="#2d2d2d"></circle>

                    <path d="M51.2422 47.1469C55.2014 42.505 61.4816 45.4176 61.8912 47.1469C62.3008 48.8762 56.1116 57.6138 56.1116 57.6138C56.1116 57.6138 51.2422 48.9217 51.2422 47.1469Z" fill="#E7B343"/>
                    <path d="M90.1517 76.3179C92.6092 66.0785 96.2499 61.6642 99.1624 59.9804C104.487 57.2044 110.449 70.8114 112.86 79.276C115.591 88.8328 115.636 97.2063 112.997 97.98C111.086 98.5716 108.31 95.0219 105.852 89.4244C104.896 95.6136 103.122 99.7093 101.074 99.3908C99.1624 99.1177 97.5241 94.8854 96.705 88.8783C94.5205 94.4303 92.0176 97.798 90.2428 96.9333C87.7853 95.7956 87.6943 86.5574 90.1517 76.3179Z" fill="#39553F"/>
                    <path d="M25.3479 76.9092C23.2545 66.6243 19.7504 62.0279 16.8833 60.2531C11.6954 57.295 5.23316 70.6745 2.54816 79.0936C-0.500908 88.5139 -0.864976 96.8874 1.77452 97.7976C3.64037 98.4347 6.55291 95.0216 9.1924 89.515C9.92054 95.7497 11.6044 99.891 13.6067 99.6634C15.5636 99.4359 17.2929 95.2946 18.2941 89.333C20.2965 94.9761 22.7084 98.3892 24.4833 97.6156C27.0772 96.4323 27.4413 87.1941 25.3479 76.9092Z" fill="#39553F"/>
                    <path d="M56.7485 85.1464H56.703C54.0635 85.1464 52.0611 83.5081 51.515 80.9596C51.424 80.459 51.6516 80.004 52.0611 79.8674C52.4707 79.7309 52.8803 80.095 53.0168 80.5501C53.4264 82.6435 55.2467 83.3716 56.703 83.4171C58.3413 83.4171 60.2527 82.5524 60.7078 80.5501C60.7988 80.0495 61.2539 79.7764 61.6634 79.8674C62.073 80.004 62.3461 80.4135 62.2095 80.9141C61.5724 83.9177 59.0239 85.1464 56.7485 85.1464Z" fill="#ABBC86"/>
                    <path d="M40.2749 85.1464H40.2294C37.5899 85.1464 35.5875 83.5081 35.0414 80.9596C34.9504 80.459 35.1779 80.004 35.5875 79.8674C35.9971 79.7309 36.4067 80.095 36.5432 80.5501C36.9528 82.6435 38.7731 83.3716 40.2294 83.4171C41.8677 83.4171 43.779 82.5524 44.2341 80.5501C44.3251 80.0495 44.7802 79.7764 45.1898 79.8674C45.5994 80.004 45.8724 80.4135 45.7359 80.9141C45.0988 83.9177 42.5503 85.1464 40.2749 85.1464Z" fill="#ABBC86"/>
                    <path d="M73.269 85.1464H73.2235C70.584 85.1464 68.5816 83.5081 68.0355 80.9596C67.9445 80.459 68.1721 80.004 68.5816 79.8674C68.9912 79.7309 69.4008 80.095 69.5373 80.5501C69.9469 82.6435 71.7672 83.3716 73.2235 83.4171C74.8618 83.4171 76.7732 82.5524 77.2283 80.5501C77.3193 80.0495 77.7744 79.7764 78.1839 79.8674C78.5935 80.004 78.8666 80.4135 78.73 80.9141C78.0474 83.9177 75.4989 85.1464 73.269 85.1464Z" fill="#ABBC86"/>
                    <path d="M64.7583 98.3441H64.7128C62.0733 98.3441 60.0709 96.6148 59.5248 94.0663C59.4338 93.5657 59.6613 93.0651 60.0709 92.9286C60.4805 92.792 60.8901 93.1106 61.0266 93.6112C61.4362 95.7046 63.2565 96.4327 64.7128 96.4327C66.3511 96.4327 68.2624 95.5681 68.7175 93.5657C68.8085 93.0651 69.2636 92.792 69.6732 92.8831C70.0828 93.0196 70.3558 93.5657 70.2193 94.0208C69.5367 97.0243 67.0337 98.3441 64.7583 98.3441Z" fill="#ABBC86"/>
                    <path d="M48.7846 98.3441H48.7391C46.0996 98.3441 44.0973 96.6148 43.5512 94.0663C43.4602 93.5657 43.6877 93.0651 44.0973 92.9286C44.5069 92.792 44.9164 93.1106 45.053 93.6112C45.4625 95.7046 47.2829 96.4327 48.7391 96.4327C50.3774 96.4327 52.2888 95.5681 52.7439 93.5657C52.8349 93.0651 53.29 92.792 53.6996 92.8831C54.1091 93.0196 54.3822 93.5657 54.2457 94.0208C53.563 97.0243 51.0601 98.3441 48.7846 98.3441Z" fill="#ABBC86"/>
                </g>
                <defs>
                    <clipPath id="clip0_425_209">
                        <rect width="115" height="123.419" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
        </button>
    </div>
    <script th:src="@{/js/chatbot.js}"></script>
    <!--/* 챗봇영역 (끝) */-->

    <!--/* 알림 SSE 영역 (시작) */-->
    <!--/* 옮길때 mno 찾는 로직 추가해야함*/-->
    <!--    <div id="notification-container">-->
    <!--        <div id="notification-icon">-->
    <!--            <span id="unread-count"></span> &lt;!&ndash; 알림 개수 표시 &ndash;&gt;-->
    <!--            <i class="fas fa-bell"></i> &lt;!&ndash; 알림 아이콘 &ndash;&gt;-->
    <!--        </div>-->
    <!--        <div id="notification-dropdown" class="dropdown-content">-->
    <!--            <div id="notification-dropdown-content"></div> &lt;!&ndash; 알림 목록 &ndash;&gt;-->
    <!--        </div>-->
    <!--    </div>-->

    <!--    <input type="text" id="abc"/>-->
    <!--    <button id="def">테스트데이터저장</button>-->

    <script th:src="@{/js/index.js}"></script>
    <script th:src="@{/js/notification.js}"></script>
    <!--/* 알림 SSE 영역 (끝) */-->

    <script>
        let modify_msg = `[[${mod_msg}]]`;
        console.log(modify_msg);
        if(modify_msg === 'ok'){
            alert("회원정보가 수정되었습니다. 다시 로그인해주세요.");
        }
        if (modify_msg === 'fail') {
            alert("회원정보수정이 실패되었습니다. 다시 시도해주세요.");
        }

        let remove_msg = `[[${del_msg}]]`;
        console.log(remove_msg);
        if(remove_msg === 'ok'){
            alert("회원 탈퇴가 완료되었습니다. 안녕히가세요.");
        }
        if (remove_msg === 'fail'){
            alert("회원 탈퇴가 실패되었습니다. 다시 시도해주세요.");
        }
    </script>
</main>