<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <title>Payout</title>
  <!--/* 결제 api와 연결하기 위한 js파일. */-->
  <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>

<div layout:fragment="main">
  <div id="dataContainer" th:data-mno="${mno}"></div>

  <!-- 배송지의 class="address_info_box"의 기본 구성요소 -->
  <div class="address_info_box">
    <p>기본배송지 여부</p>
  </div>

  <!--/* 사용자가 "배송지 변경" 버튼을 눌렀을 때 나올 div: 사용자 배송지 목록을 보여주는 역할 */-->

  <!--/* 사용자가 "배송지 변경" div에 있는 "배송지 추가" 버튼을 눌렀을 때 나올 div: 배송지 추가를 위한 정보를 입력받는 역할 */-->

  <div id="payBtnContainer">
    <button type="button" id="creditCard" class="pay-btn credit-card-btn">Credit Card, 미지원</button>
    <button type="button" id="phone" class="pay-btn phone-btn">Phone</button>
    <button type="button" id="naverpay" class="pay-btn naverpay-btn">Naver Pay, 미지원</button>
    <button type="button" id="kakaopay" class="pay-btn kakaopay-btn">Kakao Pay</button>
    <button type="button" id="tosspay" class="pay-btn tosspay-btn">Toss Pay</button>
    <br>
    <button type="button" id="orderBtn">주문하기</button>
  </div>

  <a th:href="@{/}">Go to index.html</a>
</div>

<script th:src="@{/js/payoutBusiness.js}"></script>
<script th:src="@{/js/payoutDisplay.js}"></script>

</html>